@import 'styles/sass/base/base';
@import 'styles/sass/abstract/constans';
@import 'styles/sass/abstract/mixins';
@import 'styles/sass/abstract/placeholders';


.post {
  position: relative;

  &:after {
    //content: url('assets/image/svg/eyes.svg');
    position: absolute;
    left: 50%;
    bottom: -125px;
    transform: translateX(-50%);

    @include media-tablet {
      bottom: -165px;
    }
  }

  &__body {
    @extend %font-secondary;
    @include font(normal, 400, 1.6rem, 2.7rem);
    margin: 0 20px 42px;

    @include media-tablet {
      margin: 0 auto 52px;
      max-width: 640px;
    }
  }

  &__title {
    margin: 0 20px 19px;

    @include media-tablet {
      margin: 0 auto 24px;
      max-width: 640px;
    }
  }

  &__figure {
    text-align: center;
    margin: 0 auto;
  }

  &__img {
    display: block;
    margin: 0 auto;
  }

  &__figcaption {
    @extend %font-additional-1;
    @include font(normal, 500, 1.3rem, 1.8rem);
    margin: 12px 35px 42px;

    @include media-tablet {
      max-width: 481px;
      font-size: 1.6rem;
      line-height: 2.2rem;
      margin: 12px auto 52px;
    }
  }
}

.authorSocialWrapper {
  border-top: solid $color-dark 2px;
  margin: 0 20px;

  @include media-tablet {
    @include flex(row, space-between, center, nowrap);
    max-width: 640px;
    margin: 0 auto 53px;
  }
}

.author {
  @include flex(row, flex-start, center, nowrap);
  gap: 16px;
  @extend %font-additional-1;
  @include font(normal, 400, 1.3rem, 1.6rem);

  @include media-tablet {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  &__wrapper_header {
    margin: 24px 0;

    @include media-tablet {
      margin: 24px 0;
    }
  }

  &__wrapper_footer {
    margin: 0 20px 91px;

    @include media-tablet {
      max-width: 640px;
      margin: 36px auto 132px;
    }
  }

  &__img_header {
    border-radius: 50%;
  }

  &__img_footer {
    border-radius: 50%;
    float: left;
    margin: 8px 16px 12px 0;
  }

  &__name_header {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.3px;
    margin: 0 0 6px;
  }

  &__name_footer {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.4px;
    line-height: 22px;
  }

  &__description_header {
    margin: 0;
  }

  &__description_footer {
    @extend %font-tertiary;
    @include font(normal, 400, 1.4rem, 2.2rem);
    letter-spacing: 0.5px;
    margin: 6px 0 0;
  }
}

.headerTableWrapper_twoRow {
  display: none;

  @include media-tablet {
    display: block;
    width: 140px;
    height: 44px;
  }
}

.headerTableWrapper {
  padding-top: 24px;
  margin: 0 0 32px;
  height: 54px;

  @include media-tablet {
    display: none;
  }
}

.footerTableWrapper_twoRow {
  display: none;

  @include media-tablet {
    display: block;
    width: 640px;
    height: 64px;
    margin: 0 auto 32px;
  }
}

.footerTableWrapper {
  height: 54px;
  margin: 0 20px 24px;

  @include media-tablet {
    display: none;
  }
}

.tags {
  @extend %font-additional-1;
  @include font(normal, 500, 1.4rem, 1.6rem);
  margin: 0 20px 34px;
  padding-bottom: 34px;
  border-bottom: dotted $color-dark 1px;
  border-image-source: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='8' stroke-dasharray='2%2c 12' stroke-dashoffset='10' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-image-slice: 2;

  &__ref {
    color: $color-dark;

    &:hover {
      text-decoration: none;
    }
  }

  @include media-tablet {
    font-size: 1.6rem;
    line-height: 2.0rem;
    max-width: 640px;
    margin: 0 auto;
  }
}