@import '../../styles/sass/base/base';
@import '../../styles/sass/abstract/constans';
@import '../../styles/sass/abstract/mixins';
@import '../../styles/sass/abstract/placeholders';

.about {
  margin: 0 auto;

  &__container {
    @include flex(column, center, center, wrap);
    border-bottom: none;
  }

  @include media-tablet {
    @include flex(column, center, center, wrap);
    border-bottom: none;
  }

  &__image {
    width: 100%;
    margin: 0 0 44px;
    @include media-tablet {
      width: 100%;
      height: 533px;
    }
  }

  &__image_post {
    width: 100%;
    margin: 0 0 32px;
  }

  &__title {
    text-align: center;
    margin: 0 0 24px;
    padding: 0 20px;
    @include media-tablet {
      max-width: 852px;
      font-size: 54px;
      line-height: 54px;
      margin: 0 0 32px;
    }
  }

  &__subtitle {
    text-align: center;
    margin: 0 0 32px;
    padding: 0 20px;
    @extend %font-additional-2;
    @include font(normal, 400, 1.6rem, 2.7rem);
    @include media-tablet {
      max-width: 592px;
      font-size: 20px;
      line-height: 34px;
      text-align: center;
    }
  }

  &__subtitle_post {
    margin: 0 0 36px;
    @include media-tablet {
      margin: 0 0 52px;
    }
  }
}