@import "constans";

@mixin font($style, $weight, $size, $height) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin background($repeat: no-repeat, $cover: cover, $position: center, $height: 350px, $width: 329px) {
  background-repeat: $repeat;
  background-size: $cover;
  background-position: $position;
  height: $height;
  width: $width;
}

@mixin media-tablet {
  @media (min-width: $mobile-width) {
    @content;
  }
}

@mixin flex($direction, $justify, $align, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}