%transition {
  transition: all .3s ease-out;
}

%font-primary {
  font-family: 'New York Extra Large', sans-serif;
}

%font-secondary {
  font-family: 'New York Medium', sans-serif;
}

%font-tertiary {
  font-family: 'New York Small', sans-serif;
}

%font-additional-1 {
  font-family: 'SF Pro Display', sans-serif;
}

%font-additional-2 {
  font-family: 'SF Mono', sans-serif;
}