@import '/src/styles/sass/abstract/constans';
@import '/src/styles/sass/abstract/placeholders';
@import '/src/styles/sass/abstract/mixins';

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  color: $color-dark;
  margin: 0;
}

h1 {
  @extend %font-primary;
  @include font(normal, 500, 3.6rem, 4.3rem);
}

h2 {
  @extend %font-primary;
  @include font(normal, 500, 3.2rem, 3.8rem);
}

h4 {
  @extend %font-additional-1;
  @include font(normal, 700, 2.6rem, 3.1rem);
}

h5 {
  @extend %font-primary;
  @include font(normal, 500, 2.9rem, 2.9rem);
}