@import 'src/styles/sass/base/base';
@import 'src/styles/sass/abstract/constans.scss';
@import 'src/styles/sass/abstract/mixins.scss';
@import 'src/styles/sass/abstract/placeholders.scss';

.header {
  padding: 19px 20px;
  margin: 0 auto 52px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  @include media-tablet {
    padding: 0 61px;
  }

  &_post {
    margin: 0 auto 76px;
  }

  &__container {
    @include flex(row, space-between, center, nowrap);
  }

  &__logo {
    @include flex(row, center, center, nowrap);
  }

  &__hamburger {
    @include media-tablet {
      display: none;
    }
  }

  &__navigation {
    display: none;
    @include media-tablet {
      display: block;
      flex-shrink: 2;
    }
  }
}